.socials-full {
	div {
		width: 30px; height: 30px;
	}
}

.sf1 { top: 3%; right: 3%; left: auto; }
.sf2 { top: 15%; right: 3%; left: auto; }
.sf3 { top: 27%; right: 3%; left: auto; }
.sf4 { top: 39%; right: 3%; left: auto; }

.sf5 { top: 51%; right: 3%; }
.sf6 { top: 63%; right: 3%; }
.sf7 { top: 75%; right: 3%; }
.sf8 { top: 87%; right: 3%; }

/** =========================
		SECCIÓN: ENTRADA
=============================*/
.entrada {
	.entrada-texto, .entrada-comentarios {
		width: 70%;
	}
	header {
		width: 30%;
	}
	picture {
		width: 70%;
	}
}