.mobile-menu {
	display: none;
}

.logo-over {
	width: 14.28%;
	left: 42.84%;
}

.full-menu {
	display: block;
}

	.socials-full {
		display: block;
	}

.home-banner {
	.logo-banner-c {
		display: inline-block;
	}
	.logo-banner-s {
		display: none;
	}
}

.featured {
	margin: 15px auto 15px auto;
}

.feat-section {
	width: 32.66%;
	margin: 0 auto;
	float: left;
	&:nth-of-type(2) {
		margin: 0 1%;
	}
}

	.feat-title {
		line-height: 0%;
		padding-top: 0;
		span {
			display: none;
		}
		img {
			display: inline-block;
		}
	}

.feat-entry {
	padding-bottom: 5px;
	margin-bottom: 0;
}

.feat-excerpt, .feat-date {
	padding: 5px 10px;
}

.feat-picture {
	width: 100%;
}

.feat-text {
	width: 100%;
	h3, span {
		font-size: .85em;
		line-height: 90%;
		color: white !important;
	}
	span {
		border-left: 1px solid white !important;
	}
	h3 {
		margin-left: 25px;
		img {
			position: absolute;
			display: inline-block;
			height: 25px;
			margin: -8px 0 0 -30px;
		}
	}
	.feat-date {
		display: block;
	}
}

.feat-bot-border {
	border: none !important;
}

.col-1 {
	.feat-bot-border {
		background: darken(#EF6B49, 25%);
	}
}
.col-2 {
	.feat-bot-border {
		background: darken(#00A6D7, 20%);
	}
}
.col-3 {
	.feat-bot-border {
		background: darken(#EF6B49, 18%);
	}
}

.lower-banners {
	display: block;
}

/** =========================
		SECCIÓN: ENTRADA
=============================*/
.entrada {
	header, picture {
		float: left;
	}
	.entrada-texto, .entrada-comentarios {
		float: right;
		width: 65%;
	}
	header {
		width: 35%;
		.entrada-recientes, .entrada-deco-top {
			display: block;
		}
		.entrada-name {
			img {
				margin-left: -20px;
			}
			h1, h3 {
				margin-left: 20px;
			}
		}
		.entrada-deco-top {
			text-align: center;
			margin: 10px 0;
			padding: 0 20px 10px 0;
			img {
				width: 10px;
				display: inline-block;
			}
			span {
				margin: 0 10px;
				font-family: $BigNoodleTitling;
				color: #C04B27;
			}
		}
	}
	.entrada-recientes {
		box-sizing: border-box;
		margin: 5px 10px 5px 20px;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li a:hover {
				text-decoration: underline;
			}
		}
	}
	picture {
		width: 65%;
	}
	.entrada-deco-bottom {
		display: none;
	}
}