/** ===============
	COLORES
===================*/
$main-blue: #2A2E7D;
$light-blue: #00A6D7;
$dark-blue: #1F1F23;
$lpurple: #575A99;
$lblue: #4386C1;
$red: #C04B27;
$green: #06562C;

/** ===============
	ESTILOS GENERALES
===================*/

@mixin list-reset { // LIST RESET
	list-style: none;
	margin: 0; padding: 0;
	li {
		display: inline-block;
	}
}

a {
	color: inherit;
	text-decoration: inherit;
}

body {
	background: #EFEFF1;
	min-width: 320px;
	color: $dark-blue;
}

img {
	display: block;
}

.wrap {
	width: 100%;
	margin: 0 auto;
}

.wrap90 {
	width: 90%;
	max-width: 730px;
	margin: 0 auto;
}

/** ===============
	NAVEGACIÓN
===================*/

.mobile-menu, .full-menu {
	position: relative;
	margin: 19px auto;
	color: white;
	text-transform: uppercase;
	box-shadow: 0 0 8px #333;
	font-family: $BigNoodleTitling;
}

.mobile-menu {
	max-width: 396px;
	background: $lpurple;
}

.full-menu {
	display: none;
	max-width: 730px;
}

.logo-over {
	position: absolute;
	width: 33.33%;
	left: 50% - 16.66%;
	top: -8px;
	text-align: center;
	z-index: 1;
	img {
		display: inline-block;
		max-width: 115px;
		min-width: 83.58px;
	}
}

.menu-container, .full-menu-container {
	@include list-reset;
	background: $main-blue;
	& > li {
		text-align: center;
		a {
			display: inline-block;
			padding: 7px 0;
			width: 100%;
			height: 100%;
		}
	}
}

.menu-container {
	& > li {
		width: 33.33%;
		a {
			font-size: 1.3em;
		}
	}
}

.full-menu-container {
	& > li {
		width: 14.28%;
		a {
			font-size: 1.1em;
		}
	}
}

.navigation, .socials {
	list-style: none;
	display: none;
	margin: 13px 0 0 0; padding: 0;
	li {
		text-align: center;
		a {
			display: inline-block;
			width: 100%;
			height: 100%;
			padding: 7px 0;
		}
	}
}

.socials {
	li {
		width: 50%;
		display: inline-block;
		div {
			display: inline-block;
			width: 40px; height: 40px;
			img {
				height: 100%;
			}
		}
		a {
			padding: 15px 0;
		}
	}
}

.socials-full {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	display: none;
	a {
		position: absolute;
		width: 30px; height: 30px;
		img {
			height: 100%;
		}
	}
}

.sf1 { top: 5%; left: 10px; }
.sf2 { top: 30%; left: 10px; }
.sf3 { top: 55%; left: 10px; }
.sf4 { top: 80%; left: 10px; }

.sf5 { top: 5%; right: 10px; }
.sf6 { top: 30%; right: 10px; }
.sf7 { top: 55%; right: 10px; }
.sf8 { top: 80%; right: 10px; }

/** ===============
	BANNER AREA
===================*/
.home-banner {
	margin-top: -19px;
	position: relative;
	img {
		width: 100%;
	}
}

/* Íconos redes sociales versión completa */


/** ===============
	FEATURED
===================*/

.featured {
	margin-bottom: 15px;
	margin: 10px auto 0 auto;
	max-width: 410px;
}

.feat-section {
	width: 100%;
}

	.col-col {
		.feat-title {
			background: $light-blue;
		}
	}

	.col-not {
		.feat-title {
			background: $lblue;
		}
	}

	.col-acc {
		.feat-title {
			background: $lpurple;
		}
	}

.feat-entry {
	overflow: hidden;
	margin-bottom: 5px;
	background: white;
}

.feat-entry:nth-child(odd) {
	.feat-text h3 {
		color: $green;
		border-bottom: dotted 2px $green;
	}
}

.feat-entry:nth-child(even) {
	.feat-text h3 {
		color: $red;
		border-bottom: dotted 2px $red;
	}
}

.feat-title {
	text-transform: uppercase;
	color: white;
	text-align: center;
	position: relative;
	font-family: $BigNoodleTitling;
	font-weight: 100;
	font-size: 1.4em;
	line-height: 100%;
	padding-top: 8px;
	img {
		display: none;
		position: relative;
		width: 50%;
		top: -6px;
	}
}

.feat-picture, .feat-text {
	float: left;
}

.feat-picture {
	width: 35%;
	a {
		width: 100%;
		img {
			width: 100%;
		}
	}
}

.feat-text {
	width: 65%;
	h3 {
		position: relative;
		margin: 0;
		font-weight: 300;
		padding: 0 5px 5px 5px;
		img {
			display: none;
		}
	}
	span {
		padding: 5px;
	}
	a, span {
		width: 100%;
		height: 100%;
		display: inline-block;
	}
	.feat-date {
		display: none;
		float: left;
		width: 100%;
		box-sizing: border-box;
		span, a {
			font-size: .75em;
			display: inline-block;
			width: auto;
		}
		span {
			color: $red !important;
			float: left;
			margin: 0; padding: 0;
		}
		a {
			color: $main-blue;
			float: right;
		}
	}
}

.feat-excerpt {
	display: none;
}

/** ===============
	BANNER SUB-FEATURED
===================*/
.banner-home-inf {
	overflow: hidden;
	text-align: center;
	margin-bottom: 15px;
	img {
		margin-left: -10%;
		width: 120%;
	}
}

/** ===============
	CONTÁCTANOS
===================*/
.contactanos {
	margin-bottom: 15px;
	margin-top: 25px;
	text-align: center;
	font-family: $BigNoodleTitling;
	font-weight: 100;
	span {
		display: block;
		color: $main-blue;
		font-size: 1.7em;
		font-weight: 700;
	}
	i {
		color: $light-blue;
		font-size: 3em;
	}
}

.lower-banners {
	margin-top: 15px;
	margin-bottom: 15px;
	a {
		float: left;
		width: 33.3%;
		img {
			width: 100%;
		}
	}
}

/** ===============
	CONTÁCTANOS
===================*/
.pie {
	text-align: right;
	color: #fff;
	background: #000;
	padding: 15px 10px;
}