/** ===============
	COLORES
===================*/
$main-blue: #2A2E7D;
$light-blue: #00A6D7;
$dark-blue: #1F1F23;
$lpurple: lighten(#483085, 50%);
$lblue: lighten(#1C3664, 50%);
$red: #C04B27;

/** ===============
	ESTILOS GENERALES
===================*/

@mixin list-reset { // LIST RESET
	list-style: none;
	margin: 0; padding: 0;
	li {
		display: inline-block;
	}
}

a {
	color: inherit;
	text-decoration: inherit;
}

body {
	background: #EFEFF1;
	min-width: 320px;
	color: $dark-blue;
}

img {
	display: block;
}

.wrap {
	width: 100%;
	margin: 0 auto;
}

/** ===============
	NAVEGACIÓN
===================*/

.mobile-menu {
	position: relative;
	margin: 19px auto;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 0 0 8px #333;
	max-width: 730px;
	background: $lpurple;
}

.logo-over {
	position: absolute;
	width: 33.33%;
	left: 50% - 16.66%;
	top: -8px;
	text-align: center;
	img {
		display: inline-block;
		max-width: 115px;
		min-width: 96px;
	}
}

.menu-container {
	@include list-reset;
	background: $main-blue;
	& > li {
		width: 33.33%;
		text-align: center;
		a {
			display: inline-block;
			padding: 7px 0;
			width: 100%;
			height: 100%;
		}
	}
}

.navigation, .socials {
	list-style: none;
	display: none;
	margin: 13px 0 0 0; padding: 0;
	li {
		text-align: center;
		a {
			display: inline-block;
			width: 100%;
			height: 100%;
			padding: 7px 0;
		}
	}
}

.socials {
	li {
		width: 50%;
		display: inline-block;
		div {
			display: inline-block;
			width: 40px; height: 40px;
		}
		a {
			padding: 15px 0;
		}
	}
}

.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8 {
	background: url(../img/socspr.svg) no-repeat;
	background-size: 99%;
}

.s1 { background-position: 0 -6px; }
.s2 { background-position: 0 -55px; }
.s3 { background-position: 0 -104px; }
.s4 { background-position: 0 -153px; }
.s5 { background-position: 0 -203px; }
.s6 { background-position: 0 -252px; }
.s7 { background-position: 0 -302px; }
.s8 { background-position: 0 -350px; }

/** ===============
	BANNER AREA
===================*/
.home-banner {
	margin-top: -19px;
	img {
		width: 100%;
	}
}

/** ===============
	FEATURED
===================*/

.featured {
	margin-bottom: 15px;
}

.feat-section {
	width: 90%;
	margin: 10px auto 0 auto;
}

.feat-entry {
	height: 65px;
	overflow: hidden;
	margin-bottom: 5px;
}

.feat-title {
	text-transform: uppercase;
	color: white;
	text-align: center;
}

.feat-picture, .feat-text {
	float: left;
}

.feat-picture {
	width: 35%;
	a {
		width: 100%;
		img {
			width: 100%;
		}
	}
}

.feat-text {
	width: 65%;
	h3 {
		margin: 0;
		color: $red;
		font-weight: 300;
		border-bottom: dotted 2px $red;
		padding: 0 5px 5px 5px;
	}
	span {
		padding: 5px;
	}
	a, span {
		width: 100%;
		height: 100%;
		display: inline-block;
	}
}

/** ===============
	BANNER SUB-FEATURED
===================*/
.banner-home-inf {
	overflow: hidden;
	text-align: center;
	margin-bottom: 15px;
	img {
		margin-left: -10%;
		width: 120%;
	}
}

/** ===============
	CONTÁCTANOS
===================*/
.contactanos {
	text-align: center;
	span {
		display: block;
		color: $main-blue;
		font-size: 1.7em;
		font-weight: 700;
	}
	i {
		color: $light-blue;
		font-size: 3em;
	}
}

/** ===============
	CONTÁCTANOS
===================*/
.pie {
	text-align: right;
}