@import "normalize";

/**
* CLEARFIX
*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

@import "fonts";
@import "structure";

/* VERSIÓN TABLET */
@media screen and (min-width: 480px) {
	@import "break1";
}

/* VERSIÓN ESCRITORIO */
@media screen and (min-width: 600px) {
	@import "break2";
}

/* VERSIÓN ESCRITORIO */
@media screen and (min-width: 800px) {
	@import "break3";
}

/* VERSIÓN ESCRITORIO */
@media screen and (min-width: 1024px) {
	@import "break4";
}